services:
  # --------- TEMPORAL ---------
  temporal:
    image: temporalio/temporal:latest
    command: ["server", "start-dev", "--ip", "0.0.0.0"]
    ports:
      - "7233:7233"
      - "8233:8233"
    healthcheck:
      test: [ "CMD", "temporal", "operator", "cluster", "health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  temporal-worker:
    build: ./temporal_worker
    environment:
      TEMPORAL_ADDRESS: temporal:7233
    depends_on:
      temporal:
        condition: service_healthy

  # --------- RESONATE ---------
  resonate-server:
    image: resonatehqio/resonate:latest
    container_name: resonate-server
    command: ["serve"]
#    volumes:
#      - resonate_data:/data
    ports:
      - "8001:8001"
      - "8002:8002"
      - "9090:9090"
#    healthcheck:
  #  test: ["CMD", "curl", "-f", "http://localhost:8001/"]
  #  interval: 10s
  #  timeout: 5s
  #  retries: 10

  resonate-worker:
    build: ./resonate_worker
    environment:
      RESONATE_HTTP_URL: http://resonate-server:8001
    depends_on:
      - resonate-server

  # --------- DBOS (Postgres only; сам DBOS у benchmark) ---------
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: dbos
      POSTGRES_USER: dbos
      POSTGRES_PASSWORD: dbos
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dbos"]
      interval: 10s
      timeout: 5s
      retries: 10

  # --------- BENCHMARK + METRICS ---------
  benchmark:
    build: ./benchmark
    container_name: benchmark
    environment:
      # DBOS буде використовувати це як system_database_url
      DBOS_SYSTEM_DATABASE_URL: postgresql://dbos:dbos@postgres:5432/dbos
      # можна також передати адреси Temporal/Resonate через env, якщо хочеш
      TEMPORAL_ADDRESS: temporal:7233
      RESONATE_HTTP_URL: resonate-server:8001
    depends_on:
      temporal:
        condition: service_healthy
      temporal-worker:
        condition: service_started
      resonate-worker:
        condition: service_started
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"          # /metrics від prometheus_client

#  # --------- PROMETHEUS ---------
#  prometheus:
#    image: prom/prometheus:latest
#    volumes:
#      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
#    ports:
#      - "9090:9090"
#    depends_on:
#      benchmark:
#        condition: service_started
#
#  # --------- GRAFANA ---------
#  grafana:
#    image: grafana/grafana:latest
#    ports:
#      - "3000:3000"
#    volumes:
#      - ./grafana/provisioning:/etc/grafana/provisioning
#    depends_on:
#      prometheus:
#        condition: service_started

volumes:
  resonate_data:
  postgres_data:
